<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h2>Mes appareils</h2>
      <p>Mise à jour {{ lastUpdate | async | date: 'y MMMM EEEE d' | lowercase }}</p>
      <ul class="list-group">
        <div *ngFor=" let appareil of appareils" class="">
          <app-appareil [appareilName]="appareil.name" [appareilStatus]="appareil.status"></app-appareil>
        </div>
      </ul>
      <button class="btn btn-success" type="button" name="button" [disabled]="!isAuth" (click)="onAllumer()">Tout Allumer</button>
    </div>
  </div>
</div>
