<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mise à jour {{ lastUpdate | async | date: 'y MMMM EEEE d' | lowercase }}</p>
  <ul class="list-group">
    <div *ngFor=" let appareil of appareils; let i = index" class="">
      <app-appareil [appareilName]="appareil.name"
                    [appareilStatus]="appareil.status"
                    [indexOfAppareil]="i"></app-appareil>
    </div>
  </ul>
  <button class="btn btn-success" type="button" name="button" (click)="onAllumer()">Tout Allumer</button>
  <button class="btn btn-danger" type="button" name="button" (click)="onEteindre()">Tout Eteindre</button>
</div>
